```python
pip install pymysql
conda install pymysql
```

```
1. How to connect MySQL Server
2. How to connect to existing Database
3. Showing the List of all Database inside the Database Server
4. Create Database
5. Create Table
6. Inserting Data to the Table
```

In [2]:
name, email, city, stream, fee = "Simran Kaur", 'simran@gmail.com', 'Gurgaon', 'BTech IT', 55000
query = "INSERT INTO STUDENTS (id, name, email, city, stream, fee) VALUES ('', '{}', '{}', '{}', '{}', {})".format(name, email, city, stream, fee)
print(query)

INSERT INTO STUDENTS (id, name, email, city, stream, fee) VALUES ('', 'Simran Kaur', 'simran@gmail.com', 'Gurgaon', 'BTech IT', 55000)

### 1. Inserting the Row into the Table

In [7]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')

name, email, city, stream, fee = "Simran Kaur", 'simran@gmail.com', 'Gurgaon', 'BTech IT', 55000
query = "INSERT INTO STUDENTS (id, name, email, city, stream, fee) VALUES ('', '{}', '{}', '{}', '{}', {})".format(name, email, city, stream, fee)

cursor = conn.cursor()
cursor.execute(query)

conn.commit()

cursor.close()
conn.close()

### 2. Return Number of Rows Insereted to the Table

In [8]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')

name, email, city, stream, fee = "Pardeep Sharma", 'pardeep@gmail.com', 'Devigarh', 'BTech CSE', 100000
query = "INSERT INTO STUDENTS (id, name, email, city, stream, fee) VALUES ('', '{}', '{}', '{}', '{}', {})".format(name, email, city, stream, fee)

cursor = conn.cursor()
cursor.execute(query)
print("{} data inserted.".format(cursor.rowcount))

conn.commit()
cursor.close()
conn.close()

1 data inserted.

### 3. Fetching the Last Row ID of the Record

In [7]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')

name, email, city, stream, fee = "Mandeep Singh", 'mandeep@gmail.com', 'Chandigarh', 'BTech IT', 100000
query = "INSERT INTO STUDENTS (id, name, email, city, stream, fee) VALUES ('', '{}', '{}', '{}', '{}', {})".format(name, email, city, stream, fee)

cursor = conn.cursor()
cursor.execute(query)
print("{} ID inserted.".format(cursor.lastrowid))

conn.commit()
cursor.close()
conn.close()

11 ID inserted.

### 4. How to insert Multiple Records to the Table

In [24]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "INSERT INTO STUDENTS (id, name, email, city, stream, fee) VALUES (%s, %s, %s, %s, %s, %s)"

data = [
        (13, 'Kishore Kumar', 'kishore@kishore.com', 'Mumbai', 'BPharma', 15000), 
        (14, 'Poonam Sharma', 'poonam@gmail.com', 'Mangalore', 'BPharma', 15000),
       ]

cursor = conn.cursor()
cursor.executemany(query, data)
print("Rows Created: {}.".format(cursor.rowcount))

conn.commit()
cursor.close()
conn.close()

Rows Created: 2.

### 5. Accessing the Table Data

In [17]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "SELECT * FROM students;"

cursor = conn.cursor()
cursor.execute(query)

rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()

(1, 'Mohan Das', 'mohan@gmail.com', 'New Delhi', 'BTech IT', 100000)
(2, 'Karam Chand', 'karam@gmail.com', 'Delhi', 'BTech CS', 100000)
(3, 'Kishore Kumar', 'kishore@yahoo.com', 'Gurgaon', 'BTech EE', 130000)
(4, 'Jatin Singh', 'jatin@rediffmail.com', 'Faridabad', 'BTech CS', 100000)
(5, 'Mandeep Malhotra', 'mandeep@yahoo.com', 'Ludhiana', 'BTech E', 120000)
(6, 'Sandeep Sharma', 'sandeep@gmail.com', 'Ambala', 'BTech Pharm', 150000)
(7, 'Simran Kaur', 'simran@gmail.com', 'Gurgaon', 'BTech IT', 55000)
(8, 'Simran Kaur', 'simran@gmail.com', 'Gurgaon', 'BTech IT', 55000)
(9, 'Pardeep Sharma', 'pardeep@gmail.com', 'Devigarh', 'BTech CSE', 100000)
(10, 'Mandeep Singh', 'mandeep@gmail.com', 'Chandigarh', 'BTech IT', 100000)

### 6. Fetch Specific Column Data

In [18]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "SELECT id, name, email, fee FROM students;"

cursor = conn.cursor()
cursor.execute(query)

rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()

(1, 'Mohan Das', 'mohan@gmail.com', 100000)
(2, 'Karam Chand', 'karam@gmail.com', 100000)
(3, 'Kishore Kumar', 'kishore@yahoo.com', 130000)
(4, 'Jatin Singh', 'jatin@rediffmail.com', 100000)
(5, 'Mandeep Malhotra', 'mandeep@yahoo.com', 120000)
(6, 'Sandeep Sharma', 'sandeep@gmail.com', 150000)
(7, 'Simran Kaur', 'simran@gmail.com', 55000)
(8, 'Simran Kaur', 'simran@gmail.com', 55000)
(9, 'Pardeep Sharma', 'pardeep@gmail.com', 100000)
(10, 'Mandeep Singh', 'mandeep@gmail.com', 100000)

### 7. Extracting the Specirfic User's Data

In [19]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "SELECT id, name, email, fee FROM students WHERE id=7;"

cursor = conn.cursor()
cursor.execute(query)

rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()

(7, 'Simran Kaur', 'simran@gmail.com', 55000)

In [20]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "SELECT id, name, email, fee FROM students LIMIT 3;"

cursor = conn.cursor()
cursor.execute(query)

rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()

(1, 'Mohan Das', 'mohan@gmail.com', 100000)
(2, 'Karam Chand', 'karam@gmail.com', 100000)
(3, 'Kishore Kumar', 'kishore@yahoo.com', 130000)

In [22]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "SELECT id, name, email, fee FROM students LIMIT 3;"

cursor = conn.cursor()
cursor.execute(query)

rows = cursor.fetchall()
print(len(rows))

cursor.close()
conn.close()

3

In [24]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "SELECT * FROM students;"

cursor = conn.cursor()
cursor.execute(query)

rows = cursor.fetchall()
print(len(rows))

cursor.close()
conn.close()

10

```SELECT * FROM `students` ORDER BY `students`.`name` ASC```

In [25]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "SELECT * FROM students ORDER BY name ASC;"

cursor = conn.cursor()
cursor.execute(query)

rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()

(4, 'Jatin Singh', 'jatin@rediffmail.com', 'Faridabad', 'BTech CS', 100000)
(2, 'Karam Chand', 'karam@gmail.com', 'Delhi', 'BTech CS', 100000)
(3, 'Kishore Kumar', 'kishore@yahoo.com', 'Gurgaon', 'BTech EE', 130000)
(5, 'Mandeep Malhotra', 'mandeep@yahoo.com', 'Ludhiana', 'BTech E', 120000)
(10, 'Mandeep Singh', 'mandeep@gmail.com', 'Chandigarh', 'BTech IT', 100000)
(1, 'Mohan Das', 'mohan@gmail.com', 'New Delhi', 'BTech IT', 100000)
(9, 'Pardeep Sharma', 'pardeep@gmail.com', 'Devigarh', 'BTech CSE', 100000)
(6, 'Sandeep Sharma', 'sandeep@gmail.com', 'Ambala', 'BTech Pharm', 150000)
(7, 'Simran Kaur', 'simran@gmail.com', 'Gurgaon', 'BTech IT', 55000)
(8, 'Simran Kaur', 'simran@gmail.com', 'Gurgaon', 'BTech IT', 55000)

```
UPDATE table_name
SET column_name = 'Value to Update'
WHERE id=7;
```

In [26]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "UPDATE students SET name='Preet Kamal' WHERE id=7;"

cursor = conn.cursor()
cursor.execute(query)

conn.commit()
cursor.close()
conn.close()

```DELETE FROM `students` WHERE `students`.`id` = 10```

In [27]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "DELETE FROM students WHERE id=10;"

cursor = conn.cursor()
cursor.execute(query)

conn.commit()
cursor.close()
conn.close()

```query = "DELETE FROM students WHERE fee<100000;"```

In [28]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "DELETE FROM students WHERE fee<100000;"

cursor = conn.cursor()
cursor.execute(query)

conn.commit()
cursor.close()
conn.close()

Removing Table:
    ```sql
    DROP TABLE IF EXISTS table_name;
    ```

In [29]:
import pymysql

conn = pymysql.connect(host="localhost", user='root', password='', database='septclassdb')
query = "SELECT * FROM students LIMIT %s;"

cursor = conn.cursor()
cursor.execute(query, 3)

result = cursor.fetchall()
print(result)

conn.commit()
cursor.close()
conn.close()

((1, 'Mohan Das', 'mohan@gmail.com', 'New Delhi', 'BTech IT', 100000), (2, 'Karam Chand', 'karam@gmail.com', 'Delhi', 'BTech CS', 100000), (3, 'Kishore Kumar', 'kishore@yahoo.com', 'Gurgaon', 'BTech EE', 130000))