# For Loop

In [7]:
items = [1, 2, 3, 4, 5, 6]
for num in items:
    print(num,  end="\n")

1
2
3
4
5
6

In [6]:
print(1, 2, 3, sep="  **  ")

1  **  2  **  3

In [8]:
items = (1, 2, 3, 4, 5, 6, 7)
for num in items:
    print(num, end="  ")

1  2  3  4  5  6  7

In [9]:
items = [2, 3, 5, 7, 8, 9]
total = 0
for item in items:
    total = total + item
    
print("Sum of Items of the items: ", total)

Sum of Items of the items:  34

In [10]:
sum(items)

34

In [11]:
items = (2, 3, 5, 7, 8, 9)
total = 0
for item in items:
    total = total + item
    
print("Sum of Items of the items: ", total)

Sum of Items of the items:  34

In [12]:
range(10)

range(0, 10)

In [14]:
items = range(10)
print(type(items))

<class 'range'>

In [15]:
items

range(0, 10)

In [16]:
list(items)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
for i in range(10):
    print(i, end="  ")

0  1  2  3  4  5  6  7  8  9

In [18]:
for i in range(2, 10):
    print(i, end=" ")

2 3 4 5 6 7 8 9

In [19]:
for i in range(1, 10, 1):
    print(i, end= " ")

1 2 3 4 5 6 7 8 9

In [20]:
for i in range(1, 10, 2):
    print(i, end= " ")

1 3 5 7 9

In [21]:
for i in range(1, 10, 3):
    print(i, end= " ")

1 4 7

In [23]:
# Print First 10 Even Numbers
for i in range(0, 20, 2):
    print(i, end=" ")

0 2 4 6 8 10 12 14 16 18

In [24]:
# Print First 10 Even Numbers
for i in range(0, 20):
    if i % 2 == 0:
        print(i, end="  ")

0  2  4  6  8  10  12  14  16  18

#### Using else block in For Loop

In [25]:
# Print First 10 Even Numbers
for i in range(0, 20):
    if i % 2 == 0:
        print(i, end="  ")
else:
    print("We don't have any more more number to print.")

0  2  4  6  8  10  12  14  16  18  We don't have any more more number to print.

In [26]:
# Print First 10 Even Numbers
for i in range(0, 20):
    if i % 2 == 0:
        print(i, end="  ")
print("We don't have any more more number to print.")

0  2  4  6  8  10  12  14  16  18  We don't have any more more number to print.

In [28]:
message = "Information"
for ch in message:
    print(ch, end="    ")

I    n    f    o    r    m    a    t    i    o    n

In [29]:
items = ["apple", 'mango', 'peach', 'papaya']
for item in items:
    print(item)

apple
mango
peach
papaya

#### Nested Loop

In [30]:
items = [1, 2, 3, 4, 5]
for item in items:
    for i in range(item):
        print("message", end="  ")
    print()

message
message  message
message  message  message
message  message  message  message
message  message  message  message  message

#### break, continue

In [31]:
# Add all numbers of the list until 5 is not encountered
items = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = 0
for num in items:
    if num == 5:
        break
    else:
        res = res + num 
print("Total: ", res)

Total:  10

In [32]:
# Add all numbers of the list except 5
items = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = 0
for num in items:
    if num == 5:
        continue
    else:
        res = res + num 
print("Total: ", res)

Total:  40

In [34]:
# Add all numbers of the list until 5 is not encountered
items = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = 0
for num in items:
    if num == 5:
        break
    res = res + num a
print("Total: ", res)

Total:  10

In [35]:
# Add all numbers of the list except 5
items = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = 0
for num in items:
    if num == 5:
        continue
    res = res + num 
print("Total: ", res)

Total:  40

# while Loop

In [37]:
# Print 1st 10 numbers
i = 0
while i < 10:
    print(i, end="  ")
    i = i + 1

0  1  2  3  4  5  6  7  8  9

In [40]:
# Add all numbers of the list until 5 is not encountered
items = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = 0
i = 0
while(i<len(items)):
    if items[i] == 5:
        break
    res = res + items[i]
    i += 1

print("Total: ", res)

Total:  10

In [42]:
# Add all numbers of the list until 5 is not encountered
items = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = 0
i = 0
while(i<len(items)):
    if items[i] == 5:
        i += 1
        continue
    res = res + items[i]
    i += 1

print("Total: ", res)

Total:  40

# Using 'pass'

In [43]:
for i in range(1):
    pass

In [44]:
def func():
    pass

In [47]:
city = "New Delhi"
city = city.split('e')
city

['N', 'w D', 'lhi']

# List Comprehension

In [48]:
items = [x for x in range(10)]
items

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
items = ['apple', 'papaya', 'mango', 'peach', 'kiwi']

plural_items = [x+'s' for x in items]
plural_items

['apples', 'papayas', 'mangos', 'peachs', 'kiwis']

In [51]:
items = [1, 2, 3, 4, 5]
square_items = [ x**2 for x in items ]
square_items

[1, 4, 9, 16, 25]

In [53]:
even_nums = [ x for x in range(10) if x%2==0]
even_nums

[0, 2, 4, 6, 8]

In [56]:
#even_nums    = [x for x in range(0, 10) if x%2==0]
sq_even_nums = [x**2 for x in [x for x in range(0, 10) if x%2==0]]
sq_even_nums

[0, 4, 16, 36, 64]

In [58]:
sq_even_nums = (x**2 for x in [x for x in range(0, 10) if x%2==0])
sq_even_nums

In [59]:
ex = (x for x in range(10))
ex

In [60]:
tuple(ex)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [62]:
x = 5

while x:
    y = 0
    y = y + 1
    x = x - 1
print(y, x)

1 0