In [1]:
city1 = "New Delhi"
city2 = 'Noida'
print(type(city1))
print(type(city2))

<class 'str'>
<class 'str'>

In [2]:
city1

'New Delhi'

# Arithmatics on Strings

<pre>
1. Addition -> Concatenation      +
2. Multiplication -> Repetition   *
</pre>

In [3]:
city1 = "New"
city2 = "Delhi"
city = city1 + city2
city

'NewDelhi'

In [4]:
city1 = "New"
city2 = "Delhi"
city = city1 + " " + city2
city

'New Delhi'

In [5]:
fname = "Ashman"
lname = "Malhotra"
name = fname + " " + lname
print(name)

Ashman Malhotra

In [7]:
city = "Delhi"
city = city * 5
city

'DelhiDelhiDelhiDelhiDelhi'

In [8]:
"*" * 81

'*********************************************************************************'

In [9]:
"_" * 81

'_________________________________________________________________________________'

# Index

In [10]:
city = "New Delhi"
city[0]

'N'

In [11]:
city[8]

'i'

In [12]:
city[10]

IndexError: string index out of range

In [13]:
city[-1]

'i'

In [14]:
city[-9]

'N'

In [15]:
city[-10]

IndexError: string index out of range

# Slicing

In [16]:
city

'New Delhi'

In [17]:
city[ : ]

'New Delhi'

In [18]:
city[:3]

'New'

In [19]:
city[4:]

'Delhi'

In [20]:
city[0:50]

'New Delhi'

In [21]:
city = city * 1022222

In [23]:
del(city)

In [24]:
city

NameError: name 'city' is not defined

In [25]:
aa = "Simple String"
print(aa)

Simple String

In [26]:
del(aa)
print(aa)

NameError: name 'aa' is not defined

In [27]:
id(aa)

NameError: name 'aa' is not defined

In [29]:
message = "It's heavily raining outside."

In [31]:
message = 'Today "Mangoe" price is very high'

In [32]:
message = 'It\'s heavily raining outside.'
message

"It's heavily raining outside."

# Slicing - Using Step Parameter

In [33]:
message = '0123456789'

In [35]:
message

'0123456789'

In [36]:
message[:]

'0123456789'

In [37]:
message[:]

'0123456789'

In [39]:
message[:len(message)]

'0123456789'

In [40]:
message[:len(message):1]

'0123456789'

In [41]:
message[:len(message):2]

'02468'

In [42]:
message[::2]

'02468'

In [43]:
message[::3]

'0369'

In [47]:
message[4::3]

'47'

In [48]:
message[::-1]

'9876543210'

In [49]:
message = "Information"
message[::-1]

'noitamrofnI'

# Mutable & Immutable

In [50]:
message = "Info"
message[2] = 't'

TypeError: 'str' object does not support item assignment

In [51]:
id(message)

2056770041456

In [52]:
message = "Delhi"
id(message)

2056741426416

<span style="color:red;">**Strings are Immutable**</span>

<br>

# Important Methods of Strings

In [57]:
message = "let's make python easy to understand."

In [58]:
message

"let's make python easy to understand."

In [59]:
print(type(message))

<class 'str'>

In [60]:
message.capitalize()

"Let's make python easy to understand."

In [61]:
message.upper()

"LET'S MAKE PYTHON EASY TO UNDERSTAND."

In [62]:
message.lower()

"let's make python easy to understand."

In [63]:
message.upper().lower()

"let's make python easy to understand."

In [64]:
message = message.upper()
print(message)
message = message.lower()
print(message)

LET'S MAKE PYTHON EASY TO UNDERSTAND.
let's make python easy to understand.

In [66]:
message = "let's make python easy to understand."
print(id(message))
print(id(message.lower()))

message = message.upper()
print(message, id(message))
message = message.lower()
print(message, id(message))

2056807556656
2056807556080
LET'S MAKE PYTHON EASY TO UNDERSTAND. 2056807556080
let's make python easy to understand. 2056807557616

In [68]:
message = "The price of everything is touching sky these days."
split_message = message.split()
split_message

['The', 'price', 'of', 'everything', 'is', 'touching', 'sky', 'these', 'days.']

In [69]:
# SPlit String where 'h' is found
message = "The price of everything is touching sky these days."
split_message = message.split('h')
split_message

['T', 'e price of everyt', 'ing is touc', 'ing sky t', 'ese days.']

# <span style="color:red;">List</span>

List is a Compound Type and it can hold elements of different type.

In [70]:
items = [12, 23.45, True, False, "String Message", [12, 12]]
print(type(items))
print(items)

<class 'list'>
[12, 23.45, True, False, 'String Message', [12, 12]]

In [71]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

### Index

In [72]:
nums[0]

1

In [73]:
nums[9]

0

In [74]:
nums[101]

IndexError: list index out of range

### Slicing

In [75]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [76]:
nums[:4]

[1, 2, 3, 4]

In [77]:
print(nums[4:])
print(nums[4:len(nums)])

[5, 6, 7, 8, 9, 0]
[5, 6, 7, 8, 9, 0]

In [78]:
number_list = [11, 12, 13, ['aa', 'bb'], [21, 22, 23]]
number_list

[11, 12, 13, ['aa', 'bb'], [21, 22, 23]]

In [80]:
number_list[3][1]

'bb'

### Combine Two or more List      
Use '+' to combine two or more lists.

In [81]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

### Lists are Mutable (Not Immutable)   
We can update the items of the lists.

In [82]:
c

[1, 2, 3, 4, 5, 6]

In [83]:
c[2] = 33
c

[1, 2, 33, 4, 5, 6]

### Create a List by repeating a List   
use '*' to multiply list to repeat by given times of the scalar value.

In [87]:
num_list = [1, 2, 3]
num_list = num_list * 6
num_list

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]